<style>
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  #calculator-container {
    display: flex;
    flex-wrap: wrap;
  }
  #parameters-container,
  #chart-container {
    flex: 1;
    padding: 15px;
  }
  label,
  input {
    margin-bottom: 10px;
    font-size: 14px;
  }
  h1, h3 {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  button {
    font-size: 14px;
  }
  @media (max-width: 768px) {
    #calculator-container {
      flex-direction: column;
    }
    #parameters-container,
    #chart-container {
      flex: 1 0 100%;  /* Take full width in mobile view */
    }
  }
</style>
